@page
@model Web_AVA_Proiect.Pages.Masaje.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Masaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masaj.ID" />
            <div class="form-group">
                <label style="color:lightseagreen; font-weight:500" asp-for="Masaj.Denumire" class="control-label"></label>
                <input asp-for="Masaj.Denumire" class="form-control" />
                <span asp-validation-for="Masaj.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:lightseagreen; font-weight:500" asp-for="Masaj.Pret" class="control-label"></label>
                <input asp-for="Masaj.Pret" class="form-control" />
                <span asp-validation-for="Masaj.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:lightseagreen; font-weight:500" asp-for="Masaj.Durata" class="control-label"></label>
                <input asp-for="Masaj.Durata" class="form-control" />
                <span asp-validation-for="Masaj.Durata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color:lightseagreen; font-weight:bold" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
